<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GA Test</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-186006980-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-186006980-1");
  </script>

  <!-- Google Analytics library-->
  <script>
    (function (i, s, o, g, r, a, m) {
      i["GoogleAnalyticsObject"] = r;
      (i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
        (i[r].l = 1 * new Date());
      (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(
      window,
      document,
      "script",
      "https://www.google-analytics.com/analytics.js",
      "ga"
    );

    ga("create", "UA-186006980-1", { 'name': 'driftConvoTracker' });
    ga("send", "pageview");
  </script>
  <!-- End Google Analytics -->

  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!--Drift Install Script-->
  <script>
    "use strict";

    !(function () {
      var t = (window.driftt = window.drift = window.driftt || []);
      if (!t.init) {
        if (t.invoked)
          return void (
            window.console &&
            console.error &&
            console.error("Drift snippet included twice.")
          );
        (t.invoked = !0),
          (t.methods = [
            "identify",
            "config",
            "track",
            "reset",
            "debug",
            "show",
            "ping",
            "page",
            "hide",
            "off",
            "on",
          ]),
          (t.factory = function (e) {
            return function () {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }),
          t.methods.forEach(function (e) {
            t[e] = t.factory(e);
          }),
          (t.load = function (t) {
            var e = 3e5,
              n = Math.ceil(new Date() / e) * e,
              o = document.createElement("script");
            (o.type = "text/javascript"),
              (o.async = !0),
              (o.crossorigin = "anonymous"),
              (o.src =
                "https://js.driftt.com/include/" + n + "/" + t + ".js");
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          });
      }
    })();
    drift.SNIPPET_VERSION = "0.3.1";
    drift.load("9rsb4kszx7th");
  </script>

<!--GA + Drift Script-->
  <script>
    // drift.on("ready", function (api) {
    //   drift.on("startConversation", function (event) {
    //     ga("driftConvoTracker.send", "event", {
    //       eventCategory: "Drift Test",
    //       eventAction: "conversationStarted",
    //       eventLabel: event.conversationId,
    //     });
    //   });
    // });

    window.drift.on("conversation:playbookFired", function(data) {
    console.log("Playbook fired: " + JSON.stringify(data.playbookId))
})


/*
ex: 
Playbook fired: {"conversationId":583998469,"messageId":1430463200,"createdAt":1553021092581,
"authorId":2487803352,"interactionId":XXX, "playbookId": XXX, "campaignId": XXX}
*/
  </script>
</head>

<body>
  <h1 class="header-title">Ga Test</h1>


</body>

</html>